<h1> Classification: <%= @classification.name %></h1>


	 <%= @classification.animals.each do |animal| %>
<p>
 Animal <%= link_to(animal.name,animal_path(animal)) %> 

<h2><%=image_tag(animal.image_url)%> </h2>

 Extinction Date: 
<%= animal.extinction_date%> </br>
Recent Extinctions:
<%= animal.recent?%>

</p>
<%end%>

